*{
  background-color: black;
  color: white;
  
}
.section1{

  position: relative;
  height:200px;
  margin-left: 50%;
  cursor: pointer;

}
.section2{
  height:400px;
  position: relative;
}
.section3{

  height:500px;

}
.section4{
  height:300px;
}
.section5{
  height:550px;
}

/* phone screens */
@media only screen and (max-width:480px){
  .navbar{
    display: none;
  }
  .section1{
   position: absolute;
  }
  .section2{
    position: relative;
  }
  .section3{
    position: relative;
    height: 100%;
  }
  .section4{
    position: relative;
  }
  .section5{
    position: relative;
    height: 100%;
  }
  .section6{
    position: relative;
    height: 100%;
  }
}


/*small tablet screens*/
@media only screen and (max-width: 768px) and (min-width: 481px){
  .navbar{
    display: none;
  }
  .section1{
   position: absolute;
  }
  .section2{
    position: relative;
    margin-top: 40px;
  }
  .section3{
    position: relative;
    height: 100%;
    padding-bottom: 300px;
  }
  .section4{
    position: relative;
  }
  .section5{
    position: relative;
    height: 100%;
    padding-bottom: 300px;
  }
  .section6{
    position: relative;
    height: 100%;
  }
}

/*large tablet screens and laptops*/
/* @media only screen and (max-width: 1024px) and (min-width: 769px){
  *{display:none ;}
} */



/* desktop screens and larger*/
/* @media only screen and (min-width:1025px){
  *{display:none ;}
} */